* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo_clientes {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: #3C3A3C;
    height: 100%;
    width: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 10px;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.fa-square-plus,
.fa-circle-chevron-left {
    font-size: 35px;
    color: #FEAA29;
    cursor: pointer;
}

.secao {
    width: 21%;
    height: 100vh;
    background-color: #00000029;
    display: flex;
    gap: 10px;
    padding: .5rem;
    font-size: 19px;
    color: #000000;
    font-weight: 500;
}

.cliente_list {
    width: 100%;
    height: 100%;
    background-color: #0000001A;
    padding: 2rem;
}

.titulo_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.titulo_btn h1 {
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    font-family: sans-serif;
}

.titulo_btn button {
    font-size: 35px;
    border: none;
    color: #FEAA29;
    background-color: transparent;
    cursor: pointer;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.pesquisa input:focus {
    outline: none;
}

.pesquisa button {
    background: #FEAA29;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 0;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
}

.pesquisa svg {
    width: 23px;
}

.right {
    border-radius: 10px 0 0 0;
}
.left {
    border-radius: 0 10px 0 0;
}

.titulo_cad {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px 10px 0 0;
    padding-left: 10px;
}

.titulo_cad h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.btn_cad {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    margin-top: 2rem;
    background-color: #FEAA29;
}